---
layout: page
---
<header>
	  <!-- Fixed navbar -->
	  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light shadow">
		<a class="navbar-brand" href="{{ site.baseurl }}/index">{% include logo.html %}ENACT</a>

		<div class="collapse navbar-collapse" id="navbarCollapse">
			<p class="navbar-nav mr-auto">
				Enhancing NAtional Clinical audiT and feedback
			</p>
			<div class="progress mt-2 mt-md-0 col-md-3">
				<div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
			</div>
		</div>
	  </nav>
</header>
<div class="container-fluid">
      <span id="message" class="alert alert-success-fade">You have now completed the survey.</span>
      <div class="row">
            {% include sidebar-sticky.html %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                  <div class="col">
                        <h2>Thank you so much for your participation.</h2>
                        <div class="">
                              <p>
                                    Hopefully this will help us to improve your experience of feedback in the future.
                              </p>
                              <p>Top tips for <span id="audit-name">[name of audit]</span></p>
                              <p>
                                    If you wish to receive the £25 voucher and /or the certificate of completion, please share your contact details below so that we can send one or both of these to you. If you do not wish to receive either of these, you can exit the survey now. 
                              </p>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                  Yes, I wish to receive the £25 voucher
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                <label class="form-check-label" for="defaultCheck2">
                                  Yes, I wish to receive a certificate of completion for my Continuing Professional Development records
                                </label>
                              </div>
                              <form class="form-inline input-group-lg mb-4 mt-4">
                                <label class="sr-only" for="inlineFormInputName2">Name</label>
                                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Name">

                                <label class="sr-only" for="inlineFormInputGroupUsername2">Email</label>
                                <div class="input-group mb-2 mr-sm-2">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="far fa-envelope"></i></div>
                                  </div>
                                  <input type="email" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Email address">
                                </div>
                                <button type="submit" class="btn btn-primary mb-2 btn-lg">Submit<i class="fas fa-paper-plane ml-1"></i></button>
                              </form>
                        </div>                     
                  </div>
            </main>
      </div><!-- end row-->
</div><!-- end container-fluid-->



